.community-groups-container {
    padding: 2vh 4vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffffff, #71a8db);
    min-height: 200vh;
    margin-bottom: 2vh;
}

h1 {
    margin-top: 25vh;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    color: #71a8db;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.community-group-description {
    background-color: #ffffff;
    border-radius: 2vh;
    text-align: center;
}

.community-group-description h2 {
    color: #71a8db;
    font-size: 2.4rem;
    margin-bottom: 2vh;
    font-weight: 600;
}

.community-group-description p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.5;
}

.group-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3vh;
    margin-top: 40px;
}

.group-card {
    background-color: #ffffff;
    border-radius: 2vh;
    padding: 2vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border: 1vh solid #f1f1f1;
    margin-bottom: 2vh;
}

.group-card:hover {
    transform: translateY(-3vh);
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.1);
}

.group-header {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
    border-bottom:  .2vh solid #000000;
}

.leader-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.leaders h2 {
    font-size: 1.6rem;
    color: #000000;
    font-weight: 600;
}

.leaders p {
    font-size: 1.1rem;
    color: #888;
}

.group-details p {
    font-size: 1.1rem;
    color: #111111;
}

@media (max-width: 768px) {
    .community-groups-container {
        padding: 2vh 1vh;
    }
    h1 {
        font-size: 2.5rem;
    }
    .footer {
        bottom: -682vh;
        width: 100%;
    }
}
