html, body {
    overflow-x: hidden;
}

.footer {
    padding: 2vh;
    background: #71a8db;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -106vh;
    width: 100%;
    z-index: 10;
    border-top: .2vh solid black;
}
@media (max-width: 768px) {
    .footer {
        bottom: -162vh;
        width: 100%;
    }
}

