.footer {
    padding: 2vh;
    background: #71a8db;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -106vh;
    width: 100%;
    z-index: 1000;
}

.footer p {
    margin: 1vh 0;
}

@media (max-width: 600px) {
    .footer {
        bottom: -433.5vh;
        width: 100%;
    }
}

html, body {
    overflow-x: hidden;
}
