* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Arial', sans-serif;
}

body{
    overflow: hidden;
}

.home-container{
    height: 200vh;
    background: linear-gradient(135deg, #ffffff, #71a8db);
}

.logo-image {
    position: absolute;
    top: 5px;
    left: 40px;
    z-index: 10;
    width: 150px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-image {
    background-image: url("../Images/HomeBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.welcome-text {
    max-width: 100vh;
    padding: 2vh;
}

.welcome-text h1 {
    color: white;
    font-size: 4rem;
    font-weight: 1700;
    margin-top: 80vh;
    text-shadow: none;
}

.welcome-text p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.nav-button {
    padding: 2vh 4vh;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #71a8db;
    color: white;
    border-radius: 3vh;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 23.5vh;
    position: relative;
    margin-top: 1vh;
    top: 20vh;
}

.nav-button:hover {
    background-color: #5688b5;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .background-image {
        height: 80vh;
    }
    .welcome-text h1 {
        margin-top: 80vh;
        font-size: 2.0rem;
    }

    .logo-image {
       margin-top: 3vh;
        margin-left: -6vh;
        width: 30%;
    }
    .nav-button {
        margin-left: 1vh;
        width: 95%;
    }
    .home-container{
        height:745vh;
    }
}
