.login-container {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 65vh;
    margin: 13vh auto;
    padding: 3vh;
    border-radius: 2vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #71a8db, #5688b5);
}

.login-container h2 {
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;
}

.login-container input {
    margin: 1vh;
    padding: 2vh;
    font-size: 1.2rem;
    border: .1vh solid #111111;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-container input:focus {
    border-color: #71a8db;
    background-color: white;
    box-shadow: 0 0 1vh rgba(113, 168, 219, 0.5);
}

.login-container button {
    padding: 2vh;
    font-size: 1.4rem;
    background-color: #71a8db;
    color: white;
    border: none;
    border-radius: 3vh;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1vh;
}

.login-container button:hover {
    background-color: #5688b5;
    transform: translateY(-.5vh);
}

.error {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1.2vh;
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 4vh;
    border-radius: 2vh;
    text-align: center;
    width: 45vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
}

.popup-content p {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2vh;
    color: #71a8db;
}

.popup-content button {
    padding: 1.5vh 8vh;
    background-color: #71a8db;
    color: white;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.3s ease;

}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }

    .popup-content {
        width: 90%;
    }
}
