.background-container{
  padding: 6vh 2vh;
  height: 200vh;
  width: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #ffffff, #71a8db);
}
.iframe-container {
  max-width: 100vh;
  height: 80vh;
  margin: 0 auto;
  border: 1vh solid #fff;
  border-radius: 8px;
  overflow: hidden;
}

.iframe-container iframe{
  width: 99.5%;
  height: 99.5%;
  border: .1rem solid #71a8db;
  border-radius: 8px;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
}


h2 {
  background: linear-gradient(135deg, #71a8db, #5688b5);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 22vh;
  font-weight: bold;
}

.ue-back-button{
  bottom: 40vh;
  left: 39.5vh;
  width: 30%;
}

.footer-container-ue footer{
  bottom: -100vh;
  left: -.15vw;
}

@media (max-width: 700px) {
  h2{
    font-size: 2.5rem;
  }
  .background-container{
    height: 175vh;
  }

  .ue-back-button{
    bottom: 40vh;
    left: 15vh;
    width: 33%;
  }
}